body {
	background-color: #8acfc5;
}

header {
	width: 100%;
    height: 100%;
	text-align: center;
	justify-content: center;
	margin: 15px;
	padding: 0;
	margin-left: auto;
    margin-right: auto;
}

h2 {
	font-size: 250%;
}

.container {
	padding: 20px;
	margin: auto;
	display: grid;
	background-color: #EFF6FF;
	/*grid-template-columns: 1fr;*/
	font-family: Nunito Sans,Helvetica,Arial,sans-serif;
}

/*.container {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}*/

span {
	text-align: center;
}

.float-right {
	text-align: right;
}

footer {
	margin: 15px;
	text-align: center;
	justify-content: center;
}

.header {
	font-size: 130%;
}

@media only screen 
  and (max-width: 780px) {
  	
  	html {
  		margin-left: 30px;
  		margin-right: 30px
  	}

  	h2 {
  		font-size: 200%;
  	}

  	.container {
  		font-size: 75%;
  		padding-right: 5px;
  		padding-left: 5px;
  		margin: auto;
  	}

  	 .header {
		font-size: 100%;
	}

  	input[type = text], input[type = email] {
  		width: 80%;
  	}

  	input[type = date] {
  		width: 90%;
  	}

  	textarea {
  		width: 85%;
  	}

  	footer {
  		font-size: 90%;
  	}
  }

